﻿@model VendingMachine.Web.Models.VendingMachineViewModel
<link href="./css/vendingMachine.css" rel="stylesheet" />

<div>
    <div>
        <div id="ProductsBlock">
            <ul class="products__list">
                @foreach (var product in @Model.Products)
                {
                <li>
                    <span id=@product.Name>@product.Name</span>
                    <span id=@(product.Name + "_Price")>@product.Price</span>
                    <span id=@(product.Name + "_Units")>@product.Units</span>                    
                    <input type="button" value="Buy" onclick="buyProduct('@product.Name')" />
                </li>
                }
            </ul>
        </div>
        <div id="CoinsBlock">
            <select id="Coins" asp-items="@Model.CoinOptions"></select>
            <input type="button" value="Insert coin" onclick="insertCoin()" />
        </div>
    </div>
    <div>
        <div>
            <span>Available Credit: </span>
            <span id="TotalAmount">@Model.TotalAmount</span>
        </div>
        <div>
            <span>Message: </span>
            <span id="Message">@Model.Message</span>
        </div>
        <div>
            <span>Change: </span>
            <span id="Change">@Model.Change.ToString()</span>
        </div>
        <div>
            <input type="button" value="Cancel Purchase" onclick="cancelPurchase()" />
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/vendingMachine.js"></script>
}