﻿.products__list li {
    display: flex;
    width: 30%
}

.products__list li span{
    width: 40%;
    padding: 10px;
}

#ProductsBlock {
    float: left;
    width: 50%
}

#CoinsBlock {
    float: right;
    width: 50%
}
